/* responsiveness */

@media (min-width: 769px) {
  .auth-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .password-wrapper input {
    padding-right: 35px;
  }

  .eye-btn {
    right: 8px;
    font-size: 16px;
  }

  .extra-links {
    gap: 4px;
  }

  .text-link {
    font-size: 12px;
  }

  .submit-btn {
    padding: 9px 14px;
    font-size: 0.95em;
  }
}