/* make select field more visually appealing  */
.form-item input,
.form-item select {
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  background-color: #f8f8f8;
  outline: none;
  transition: 0.25s ease;
}

.form-item select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='18' width='18' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 20,0 10,12'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

/* responsiveness*/
@media (max-width: 768px) {
  .grid-form {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .full-row,
  .save-btn {
    grid-column: span 1;
  }
}